<a href="https://colab.research.google.com/github/penguin64-128/python_practive1_titech/blob/main/Practice_1_titech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Methodology of Mathematical and Computational Analysis I  
Graduate Major in Technology and Innovation Management  
Tokyo Institute of Technology  
2021 - Q1  
Class 3, Programming exercise 1  

Sasahara Kazutoshi, Mejia Cristian  
contact: `mejia.c.aa@m.titech.ac.jp`

![Picture1.png]()

## Part 1. The basics of Python

### Python as a calculator  

Out of the box Python can be used as any calculator.  

Note: The next block is called a `cell`. The mathematical operations written in the cell can be executed by clicking on the `play` button on the left or by hitting `Shift+Enter`.

In [ ]:
6*6

In [ ]:
(100-20*3)/4

In the previous lines, we've seen two different data types:  
 * **integers**, also known as whole numbers, and  
 * **floating point numbers**, also known as decimal numbers.  

To perform other mathematical computations we need the help of a `library`. A `library` is a collection of `functions`.  Let's see how to compute the square root of 81.

In [ ]:
import math
math.sqrt(81)

In the previous `cell` we told Python, we want to use the **math** library by using the **import** statement. Then, we used the `sqrt()` function from the **math** library. You can check the list of function available in the **math** library [here](https://docs.python.org/3/library/math.html).

ðŸ”´ #1
#### Your turn!  
By using the math library compute the cosine of pi.

In python we can define variables using the **=** sign:

In [ ]:
width = 20
length = 30
area = length*width
area

If you try to access a variable that you haven't yet defined, you get an error:

In [ ]:
volume

So, you need to define it:

In [ ]:
depth = 10
volume = area*depth
volume

### Strings  

**Strings** are another data type. They are printable characters (i.e. text), and can be defined using either single or double quotes.

In [ ]:
'Hello world!'

In [ ]:
"Hello world!"

Using single or double quote is usually based on our preference. But sometimes, it depends of what we write:

In [ ]:
"I'm Tokodai Taro"

In [ ]:
'She asked, "How are you today?"'

ust like the other two data objects we're familiar with (ints and floats), you can assign a string to a variable. The **print** statement is often used for printing character strings:

In [ ]:
greeting = "Hello, World!"

In [ ]:
print(greeting)

But it can also print data types other than strings:

In [ ]:
print("The area is ", area)

In the above snipped, the number 600 (stored in the variable "area") is converted into a string before being printed out.

You can use the **+** operator to concatenate strings together:

In [ ]:
statement = "Hello," + "World!"
print(statement)

Don't forget the space between the strings, if you want one there.

In [ ]:
statement = "Hello, " + "World!"
print(statement)

You can use + to concatenate multiple strings in a single statement:

In [ ]:
print("This " + "is " + "a " + "longer " + "statement.")

### Lists  

Very often in a programming language, one wants to keep a group of similar items together. Python does this using a data type called **lists**. A list is created by adding elements inside square brackets `[]` or inside `list()` separated by a comma.

In [ ]:
days_of_the_week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

You can access members of the list using the index of that item:

In [ ]:
days_of_the_week[2]

Python lists use 0 as the index of the first element of a list. Thus, in this example, the 0 element is "Sunday", 1 is "Monday", and so on. If you need to access the nth element from the end of the list, you can use a negative index. For example, the -1 element of a list is the last element:

In [ ]:
days_of_the_week[-1]

In [ ]:
days_of_the_week[6]

If we want the list containing the first two elements of a list, we can do this via

In [ ]:
days_of_the_week[0:2]

If we want the last items of the list, we can do this with negative slicing:

In [ ]:
days_of_the_week[-2:]

You can add additional items to the list using the `.append()` command. A list can have repeated values.

In [ ]:
days_of_the_week.append("Sunday")
print(days_of_the_week)

Lists can hold different data types, including other lists:

In [ ]:
a_list = ["Python", 2021, 1/2, '', days_of_the_week]
print(a_list)

You can find out how long a list is using the `len()`command:

In [ ]:
len(a_list)

### Loops
One of the most useful things you can do with lists is to iterate through them, i.e. to go through each element one at a time. To do this in Python, we use the for statement:

In [ ]:
for day in days_of_the_week:
    print(day)

This code snippet goes through each element of the list called days_of_the_week and assigns it to the variable **day**. It then executes everything in the indented block (in this case only one line of code, the print statement) using those variable assignments.

Python uses a colon (":"), followed by indentation level to define code blocks. Everything at a higher level of indentation is taken to be in the same block. In the above example the block was only a single line, but we could have had longer blocks as well:

In [ ]:
for day in days_of_the_week:
    statement = "Today is " + day
    print(statement)

The `range()` command is particularly useful with the **for** statement to execute loops of a specified length. The `range()` statement creates a list from 0 to a desired number.

In [ ]:
list(range(10))

Let's compute the square of the numbers 0 to 20.

In [ ]:
for i in range(20):
    print("The square of ",i," is ",i*i)

ðŸ”´ #2
#### Your turn!  
compute the **square root** of the numbers 10 to 20.

### Booleans and Truth Testing  

Other data type is the boolean, which refer to a variable being `True` or `False`.  

There is also conditions statements to control branching behavior. They allow a program to react differently to different situations.

In [ ]:
day = days_of_the_week[0]

if day == "Sunday":
    print("Sleep in")
else:
    print("Go to work")

The "==" operator performs equality testing. If the two items are equal, it returns True, otherwise it returns False. 

The **if** statement that contains the truth test is followed by a code block (a colon followed by an indented block of code). If the boolean is true, it executes the code in that block. Since it is false in the above example, we don't see that code executed.

The first block of code is followed by an **else** statement, which is executed if nothing else in the above if statement is true. Since the value was false, this code is executed, which is why we see "Go to work".

Other operators are:  
* **!=** not equal
* **<** less than
* **>** more than

If statements can have elif parts ("else if"), in addition to if/else parts. For example:

In [ ]:
day = days_of_the_week[5]

if day == "Sunday":
    print("Sleep in")
elif day == "Saturday":
    print("Do chores")
else:
    print("Go to work")



---

![Picture2.png]()

## Part 2. Working with tabular data

In this part, we will learn to use tabular data similar to the one we use with Excel. 

The dataset used for practice is the body measures dataset from the U.S. National Health and Nutrition Examination (NHANES) Survey 2009â€“2010. 

The dataset contains the body measures of 4979 individuals, including the age (in months), weight (kg), height, upper leg length, upper arm length, arm circumference, and waist (cm). Raw 'official' data is available [here](https://www.statcrunch.com/app/index.php?dataid=1406047).  

ðŸ”´ **[For this tutorial please download the data from here.](https://drive.google.com/file/d/1o63fJQt8R6cakYXXxkhBXD7tJYpSu528/view?usp=sharing)**

*Note*: Details of NHANES data acquisition method, [here](cdc.gov/nchs/data/nhanes/nhanes_07_08/manual_an.pdf ).

For working with tabular data, we use the library [pandas](https://pandas.pydata.org/)

In [ ]:
import pandas as pd

### Load Data

To use our files in a colaboratory notebook like this, we first need to upload the files to the session, as follows:

1. Click on the `folder` icon on the left. This will open the `Files` pane.
2. In the `Files` pane, click on the `Upload to session storage` icon.
3. And, select the files in your PC.

*Note*: You may need to upload the files again if you close the notebook or the broswer.  


![Picture4b.png]()

#### Load an Excel file

In [ ]:
dataset = pd.read_excel('nhanes.xls', sheetname='Sheet 1', header=None)
dataset.head()

#### Load .CSV file

In [ ]:
dataset = pd.read_csv("nhanes.csv")
#dataset = pd.read_table("nhanes.csv", sep=',')
dataset.head()

ðŸ”´ #3 

#### Your turn!
Upload the provided data file.  
Is it Excel or .CSV?  
Then, load it using the right function.

#### Load file from URL

In [ ]:
dataset = pd.read_csv("https://raw.githubusercontent.com/cristianmejia00/kajikawa_lab/master/Python-2021/nhanes.csv")
dataset.head()

### Inspect the data

In [ ]:
# Number of rows and number of columns
dataset.shape

In [ ]:
# Check summary of each column
dataset.describe()

In [ ]:
# Remove rows
edited_dataset = dataset.drop([0, 1])
edited_dataset.head()

In [ ]:
# Remove columns
edited_dataset = dataset.drop(['Gender','Age_months'], axis=1)
edited_dataset.head()

In [ ]:
# Add rows
dataset.loc[4980] = ["Female", 499, 20, 69.9, 199, 39.9, 39.9, 39.9, 99.9]
dataset.tail()

ðŸ”´ #4 

#### Your turn!
Delete the row we just added above.

In [ ]:
# Add columns
dataset["Age_years"] = dataset["Age_months"] / 12
dataset.head(15)

# We can add a columns at specific locations with `.insert()`
#dataset.insert(2, "Age_years", dataset["Age_months"] / 12)
#dataset.head(15)

In [ ]:
# Order rows
dataset.sort_values(by = 'Weight_kg', ascending= True)

In [ ]:
# When sorting by string columns, they are sorted alphabetically.
dataset.sort_values(by = "Gender")

In [ ]:
# Filter based on condition
dataset_over50 = dataset[dataset["Age_years"] > 50]
dataset_over50.head()

In [ ]:
import numpy as np

# Pivot table
table = dataset.pivot_table(values="Age_years", index="Gender", aggfunc=np.mean)
table

In [ ]:
# Pivot table
table = dataset.pivot_table(values="Age_years", index="Gender", columns="Age_range", aggfunc=np.mean)
table

In [ ]:
# Export files
dataset_over50.to_csv("over50.csv")

ðŸ”´ #5 

#### Your turn!

Download the following file to your computer: [Tokyo Land Sample Data](https://drive.google.com/file/d/1Vyvb3rQhBTq5H7rD8QHu9QuzdaVqJEet/view?usp=sharing)

This file contains a sample of Tokyo land and house prices.

In [ ]:
# Load the file.
tokyo_land =

In [ ]:
# How many rows and columns are in the file

In [ ]:
# There is a column named TradePriceMan, which tells you the price of the proerty in ä¸‡å††. 
# How much is the most expensive property? Hoe much is the average?

In [ ]:
# Find the properties near Meguro station.

In [ ]:
# Save the file containing the properties near Meguro station

---

![Picture3.png]()

## Part 3. Data visualization  

The most popular library for data visualization in Python is [matplotlib](https://matplotlib.org/). However, in this tutorial we are using [seaborn](https://seaborn.pydata.org/#:~:text=Seaborn%20is%20a%20Python%20data,attractive%20and%20informative%20statistical%20graphics.) which is based on matplotlib, but easier to use and produce nicer charts out of the box.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# We will use a random sample intead of the full data in order to save time.
# dataset = pd.read_csv("nhanes.csv")
dataset = dataset.sample(100)
dataset.shape

### Histograms

Provides a way to look at a univariate distribution. A univeriate distribution provides a distribution for one variable.

Bins define how many buckets to divide the data up into between intervals.  

The plot also shows the Kernal Density Estimation (i.e. a line fitting the histogram). It can be removed with `kde=False`.

In [ ]:
sns.displot(dataset['Waist_cm'], kde=True, bins=25)

### KDE plots

On the other hand, we can plot only the fitted line intead of the histogram.

In [ ]:
sns.kdeplot(dataset['Waist_cm'])

### Scatter plots

A scatter plot compares 2 distributions.

In [ ]:
sns.scatterplot(x='Weight_kg', y='Height_cm', data=dataset)

`.scatterplot` is good for simple plotting. But you can visualize more information by using `.jointplot()` instead. 

* You can create a regression line with `kind='reg'`
* You can create a 2D KDE with `kind='kde'`
* You can create a hexagon distribution with `kind='hex'`

Check the documentation for more options:  
* [`.scatterplot()` documentation](https://seaborn.pydata.org/generated/seaborn.scatterplot.html?highlight=scatterplot#seaborn.scatterplot)
* [`.jointplot()` documentation](https://seaborn.pydata.org/generated/seaborn.jointplot.html#seaborn.jointplot)

In [ ]:
sns.jointplot(x='Weight_kg', y='Height_cm', data=dataset[dataset["Age_years"] > 50], kind='reg')

From the figure above, we can see that people tend to speed as they also tend to drink & drive.

ðŸ”´ #6 

#### Your turn!
Plot the relationship between `Arm_circum_cm`	and `Waist_cm`. (Use eaither scatterplot() or jointplot())

### Pair plots

Pair Plot plots relationships across the entire data frames **numerical** values.

[`.pairplots()` documentation](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

In [ ]:
#sns.pairplot(dataset)
sns.pairplot(dataset.iloc[:,4:], corner=True)

We can check the correlations with:

In [ ]:
dataset.corr()

With `hue` you can pass in a categorical column and the charts will be colorized  
You can use [color maps from Matplotlib](https://matplotlib.org/3.3.1/tutorials/colors/colormaps.html) to define what colors to use in the `palette`

In [ ]:
sns.pairplot(dataset, hue='Gender', palette='tab10', corner = True)

### Bar plots

Focus on distributions using **categorical** data in reference to one of the numerical columns

Aggregate categorical data based on a function (mean is the default)

With `estimator` you can define functions to use other than the mean like those provided by **NumPy** : `median, std, var, cov` or make your own functions.

Following we estimate the total bill amount based on sex.

In [ ]:
sns.barplot(x='Gender', y='Age_years', data=dataset, estimator=np.median)

A simplified function in seaborn created called `countplot()` generates bar plot just by counting the occurrences of the categorical variable.

In [ ]:
sns.countplot(x='Gender', data=dataset)

ðŸ”´ #7 

#### Your turn!  
Plot the number of participants per each `Age_range`

In [ ]:
# (Optional, advanced) using the tokyo_land dataset, plot the number of properties in each Municipality

### Box plots
A box plot allows you to compare different variables. The box shows the quartiles of the data. The bar in the middle is the median and the box extends 1 standard deviation from the median. The whiskers extend to all the other data aside from the points that are considered to be outliers.  


`Hue` can add another category like sex

In [ ]:
sns.boxplot(x='Age_range', y='Weight_kg', data=dataset, hue='Gender')

We see men spend way more on Friday versus less than women on Saturday

### Heatmaps

To create a heatmap with data you must have data set up as a matrix where variables are on the columns and rows

Correlation tells you how influential a variable is on the result So we see that n previous accident is heavily correlated with accidents, while the insurance premium is not.

In [ ]:
dataset_mx = dataset.corr()
dataset_mx.head()

In [ ]:
sns.heatmap(dataset_mx, annot=True, cmap='Blues')
# Additional params
# linecolor='white', linewidth=1

### Cluster map

In [ ]:
sns.clustermap(dataset_mx, cmap="Blues", standard_scale=1)

### Regression plots
 
 We can plot a regression plot studying whether total bill effects the tip hue is used to show separation based off of categorical data We see that males tend to tip slightly more Define different markers for men and women You can effect the scatter plot by passing in a dictionary for styling of markers

In [ ]:
sns.lmplot(x='Weight_kg', y='Height_cm', hue='Gender', data=dataset, 
           markers=['o', '^'], 
           scatter_kws={'s': 100, 'linewidth': 0.5, 'edgecolor': 'w'})

You can separate the data into separate columns for day data.

In [ ]:
sns.lmplot(x='Leg_Length_cm', y='Arm_Length_cm', data=dataset, col='Age_range', hue='Gender')

### Advanced grid controls (Optional)

We may want to have more control when plotting comparison between multiple columns in our datasets. In those cases we use `.PairGrid()` function, where we customize the grid behavior.  

In the following example we are going to use the **Iris** dataset. Which is a sample dataset containing information about length and width of petals of three species of Iris (a flower).

In [ ]:
# Load the dataset
iris = sns.load_dataset("iris")
iris.head()

We are plotting a grid view similar to `.pairplot()`. However, this time we will have complete control over what is displayed.  

First we create an empty `Grid` object using `.PairGrid()` and indicate we want to colorize the datapoints by `species` in the `hue` option.  We then choose to show everything as scatterplots with `.map()`.

In [ ]:
iris_g = sns.PairGrid(iris, hue="species")
iris_g.map(plt.scatter)

# Add a legend
iris_g.add_legend()

Following, instead of everything being an scatterplot, we visualize histograms over the diagonal, scatterplot in the upper sections, and KDE plots the bellow section of the grid.

In [ ]:
iris_g = sns.PairGrid(iris, hue="species")
iris_g.map_diag(plt.hist)
iris_g.map_upper(plt.scatter)
iris_g.map_lower(sns.kdeplot)

# Add a legend
iris_g.add_legend()

Finally, you can also define the variables for x & y for a custom grid.

In [ ]:
iris_g = sns.PairGrid(iris, hue="species",
                      x_vars=["sepal_length", "sepal_width"],
                      y_vars=["petal_length", "petal_width"])

iris_g.map(plt.scatter)

# Add a legend
iris_g.add_legend()

---

### Styling

We can change the style and other characteristics of the figures.

In [ ]:
plt.figure(figsize=(14,9))

#try changing to: darkgrid, whitegrid, dark, white, ticks
sns.set_style('darkgrid') 

# try changing to: paper, notebook, talk, poster
sns.set_context('talk', font_scale=1.4)

# Moves legend to the best position
# Other options: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.legend.html
plt.legend(loc=0)

# Plot:
sns.scatterplot(x='Weight_kg', y='Height_cm', data=dataset)

### Other plots  

More plot types are available. Check the [full documentation](https://seaborn.pydata.org/examples/index.html).

---

![Picture5.png]()

## Part 4. Statistical testing

### Correlation tests

This type of tests help to understand when a pair of variables have a [linear or monotonic](https://support.minitab.com/en-us/minitab-express/1/help-and-how-to/modeling-statistics/regression/supporting-topics/basics/linear-nonlinear-and-monotonic-relationships/#:~:text=In%20a%20monotonic%20relationship%2C%20the,direction%20at%20a%20constant%20rate.&text=For%20example%2C%20the%20relationship%20shown,is%20both%20monotonic%20and%20linear.) relationship.

#### Pearsonâ€™s Correlation Coefficient

Tests whether two samples have a linear relationship.

Assumptions

* Observations in each sample are independent and identically distributed (iid).
* Observations in each sample are normally distributed.
* Observations in each sample have the same variance.  

Interpretation

* H0: the two samples are independent.
* H1: there is a dependency between the samples.

In [ ]:
from scipy.stats import pearsonr
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [0.353, 3.517, 0.125, -7.545, -0.555, -1.536, 3.350, -1.578, -3.537, -1.579]
stat, p = pearsonr(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably independent')
else:
	print('Probably dependent')

ðŸ”´ #8 

#### Your turn!  
What is the correlation between `Arm_circum_cm` and `Weight_kg`?

#### Spearmanâ€™s Rank Correlation

Tests whether two samples have a monotonic relationship.

Assumptions

* Observations in each sample are independent and identically distributed (iid).
* Observations in each sample can be ranked.  

Interpretation

* H0: the two samples are independent.
* H1: there is a dependency between the samples.

In [ ]:
from scipy.stats import spearmanr
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [0.353, 3.517, 0.125, -7.545, -0.555, -1.536, 3.350, -1.578, -3.537, -1.579]
stat, p = spearmanr(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably independent')
else:
	print('Probably dependent')

#### Chi-Squared Test

Tests whether two categorical variables are related or independent.

Assumptions

* Observations used in the calculation of the contingency table are independent.
* 25 or more examples in each cell of the contingency table.  

Interpretation

* H0: the two samples are independent.
* H1: there is a dependency between the samples.

In [ ]:
from scipy.stats import chi2_contingency
table = [[10, 20, 30],[6,  9,  17]]
stat, p, dof, expected = chi2_contingency(table)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably independent')
else:
	print('Probably dependent')

### Parametric tests

#### Studentâ€™s t-test

Tests whether the means of two independent samples are significantly different.

Assumptions

* Observations in each sample are independent and identically distributed (iid).
* Observations in each sample are normally distributed.
* Observations in each sample have the same variance.  

Interpretation

* H0: the means of the samples are equal.
* H1: the means of the samples are unequal.

In [ ]:
from scipy.stats import ttest_ind
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [1.142, -0.432, -0.938, -0.729, -0.846, -0.157, 0.500, 1.183, -1.075, -0.169]
stat, p = ttest_ind(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably the same distribution')
else:
	print('Probably different distributions')

#### Paired Studentâ€™s t-test

Tests whether the means of two paired samples are significantly different.

Assumptions

* Observations in each sample are independent and identically distributed (iid).
* Observations in each sample are normally distributed.
* Observations in each sample have the same variance.
* Observations across each sample are paired.  

Interpretation

* H0: the means of the samples are equal.
* H1: the means of the samples are unequal.

In [ ]:
from scipy.stats import ttest_rel
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [1.142, -0.432, -0.938, -0.729, -0.846, -0.157, 0.500, 1.183, -1.075, -0.169]
stat, p = ttest_rel(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably the same distribution')
else:
	print('Probably different distributions')

#### Analysis of Variance Test (ANOVA)

Tests whether the means of two or more independent samples are significantly different.

Assumptions

* Observations in each sample are independent and identically distributed (iid).
* Observations in each sample are normally distributed.
* Observations in each sample have the same variance.  

Interpretation

* H0: the means of the samples are equal.
* H1: one or more of the means of the samples are unequal.

In [ ]:
from scipy.stats import f_oneway
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [1.142, -0.432, -0.938, -0.729, -0.846, -0.157, 0.500, 1.183, -1.075, -0.169]
data3 = [-0.208, 0.696, 0.928, -1.148, -0.213, 0.229, 0.137, 0.269, -0.870, -1.204]
stat, p = f_oneway(data1, data2, data3)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably the same distribution')
else:
	print('Probably different distributions')

---

## Installing and using Python in your computer

* **RECOMMENDED**: Install Python, packages, and notebooks all at once with [Anaconda](https://www.anaconda.com/products/individual#Downloads).
* [Manual installation](https://realpython.com/installing-python/)

## References  


* [A Crash Course in Python for Scientists](https://github.com/rpmuller/PythonCrashCourse/blob/master/Crash%20Course.ipynb)
* [Python Pandas DataFrame basics](https://github.com/Tanu-N-Prabhu/Python/blob/master/Pandas/Pandas_DataFrame.ipynb)
* [Seaborn tutorial](https://github.com/derekbanas/seaborn/blob/master/SB%20Tut.ipynb)
* [17 Statistical Hypothesis Tests in Python](https://machinelearningmastery.com/statistical-hypothesis-tests-in-python-cheat-sheet/)